.current-weather {
    font-family: Roboto;
    color: white;
    background: linear-gradient(#117a8e , rgba(64, 64, 64, 0.55));
    padding: 10px;
    border: 2px solid black;
}

.current-place {
    font-size: 40px;
}

.current-place .origin {
    font-size: 20px;
    display: inline-block;
}

.weather-description {
    font-size: 30px;
    text-transform: capitalize;
}

.current-temperature {
    font-family: "Lato";
    font-size: 140px;
    font-weight: 200;
    text-align: left;
}

.info {
    font-size: 24px;
    text-align: center;
    padding: 40px;
}

.value {
    font-family: "Lato";
    font-weight: 600;
    color: #d2d2d2;
    margin: 2px 0 14px 0;
}

@media screen and (min-width: 768px) {
    .current-weather {
        margin: 20px auto;
    }

    .current-place {
        font-size: 60px;
    }
}
