.weather-day {
  display: none;
}

.details {
  font-family: "Proxima Nova Soft";
  color: #4a4a4a;
  background: white;
  padding: 10px 0;
  margin: 10px 0 0 0;
}

.temperature {
  font-size: 26px;
}

.other-details {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .weather-day {
    display: block;
    text-align: center;
    font-size:20px;
    color: white;
    background:#117a8e;
    box-shadow: 0 10px 15px -6px rgba(0,0,0,0.5);
    outline: 1px solid black;
    transition: transform .6s, box-shadow .6s;
  }

  .weather-day:hover {
    bottom: 100px;
    box-shadow: 0 20px 15px -6px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition: transform .4s, box-shadow .4s;
  }

  /* For 5 columns */
  .col-md-2 {
    width: 20%;
  }
}