@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("media/fonts/roberto.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  src: url("media/fonts/proxima.woff2") format("woff2");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 100;
  src: url('media/fonts/lato.woff2') format('woff2');
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-image: url('./media/clouds-background.jpg'),linear-gradient(to right, rgba(30, 75, 115, 1), rgba(120, 0, 129, 0.8));
}

@-webkit-keyframes background-animation {
  from {background-position:0 0;}
  to {background-position: -612px 0;}
}

@-moz-keyframes background-animation {
  from {background-position:0 0;}
  to {background-position: -612px 0;}
}

@-ms-keyframes background-animation {
  from {background-position:0 0;}
  to {background-position: -612px 0;}
}

@-o-keyframes background-animation {
  from {background-position:0 0;}
  to {background-position: -612px 0;}
}

@keyframes background-animation {
  from {background-position:0 0;}
  to {background-position: -612px 0;}
}

@media screen and (min-width: 768px){
  body {
    -webkit-animation:background-animation 40s linear 0s normal none infinite;
    -moz-animation:background-animation 40s linear 0s normal none infinite;
    -ms-animation:background-animation 40s linear 0s normal none infinite;
    -o-animation:background-animation 40s linear 0s normal none infinite;
    animation: background-animation 40s linear 0s normal none infinite;
  }
}
